/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.Drumbox-container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}
td {
	border: 1px solid;
	padding: 4px 8px 4px 8px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}